<%=erb :header%>
<% if session[:user_not_found] == true%>
    <div class="alert alert-danger fade show" role="alert">
        User not found or coalition not assigned yet, please try again 🥺
        </button>
    </div>
    <%session[:user_not_found] = false%>
<%end%>
<form action="search" method=post>
    <label for="fname">Login:</label>
    <input type="text" id="login" name="login"><br><br>
    <button type="submit" class="btn btn-primary">Reveal Coalition</button>
</form>
<%=erb :footer%>